#newGroup.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
    .modal-dialog.modal-dialog-centered.modal-dialog-zoom(role='document')
      .modal-content
        .modal-header
          h5.modal-title
            i.fa.fa-users
            |  New Group
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            i.ti-close
        .modal-body
          form#createGroup
            .form-group
              label.col-form-label(for='group_name') Group name
              input#group_name.form-control(type='text' name='groupName')
            .form-group
              label.col-form-label.d-block(for='users') User Name
              .container.mb-2
                .row.selected_container
              div#users.searchFullName.form-control.d-flex(type='text' name='fullName' placeholder='Find user' contentEditable="true")
            .form-group
              label.col-form-label(for='description') Description
              textarea#description.form-control(name='description')
            .modal-footer
              button.btn.btn-primary.group-btn(type='submit' disabled) Create Group
