extends ../../layouts/app
block content
  // sidebar group
  .sidebar-group
    // Chats sidebar
    include partials/chats-sidebar
    // Friends sidebar
    include partials/friends-sidebar
    // Requests sidebar
    include partials/requests-sidebar
  // chat

  .chat
    .chat-header
      .chat-header-user
        figure.avatar.avatar-lg
          img.rounded-circle(src='/dist/images/man_avatar3.jpg')
        div
          h5= user.fullName
          small.text-muted
            i Online
      .chat-header-action
        ul.list-inline
          li.list-inline-item
            a.btn.btn-success(href='#')
              i.fa.fa-phone(aria-hidden='true')
          li.list-inline-item
            a.btn.btn-secondary(href='#')
              i.fa.fa-video-camera(aria-hidden='true')
          li.list-inline-item
            a.btn.btn-secondary(href='#' data-toggle='dropdown' aria-expanded='false')
              i.ti-more
            .dropdown-menu.dropdown-menu-right(x-placement='bottom-end' style='position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(1222px, 68px, 0px);')
              a.open-profile.dropdown-item(href='#' data-navigation-target='contact-information') Profile
              a.dropdown-item(href='#') Add to archive
              a.dropdown-item(href='#') Delete
              .dropdown-divider
              a.dropdown-item(href='#') Block
    .chat-body(tabindex='2' style='overflow: hidden; outline: none;')
      .messages
        if typeof(allMessages) !== 'undefined'
          each message in allMessages
            if message.senderID == user.id
              .message-item.outgoing-message
                .message-content= message.content
                .message-action PM 14:25
                  i.ti-check
            else
              .message-item
                p.message-action.mb-0=message.senderName
                .message-content= message.content
                .message-action PM 14:25
                  i.ti-check
    .chat-footer
      form#send_message(action='')
        input.form-control(type='text' name="message" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby='button-addon2')
        .form-buttons
          button.btn.btn-light.btn-floating(type='button')
            i.fa.fa-paperclip
          button.btn.btn-light.btn-floating(type='button')
            i.fa.fa-microphone
          button.btn.btn-primary.btn-floating(type='submit')
            i.fa.fa-send


  // ./ chat
  include partials/friend-profile
  script(src= 'https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js')
  script.
      const user = !{JSON.stringify(user)};
      const chats = !{JSON.stringify(chats)};
      const socket = io('/messenger');
      const dynamicSocket = io('/dynamic-messenger');
