#chats.sidebar.active
          header
            span Chats
            ul.list-inline
              li.list-inline-item(data-toggle='tooltip' title='' data-original-title='New Group')
                a.btn.btn-light(href='#' data-toggle='modal' data-target='#newGroup')
                  i.fa.fa-users
              li.list-inline-item
                a.btn.btn-light(data-toggle='tooltip' title='' href='#' data-navigation-target='friends' data-original-title='New Chat')
                  i.ti-comment-alt
              li.list-inline-item.d-lg-none.d-sm-block
                a.btn.btn-light.sidebar-close(href='#')
                  i.ti-close
          form(action='')
            input.form-control(type='text' placeholder='Search chat')
          .sidebar-body.message-body(tabindex='3' style='overflow: hidden; outline: none;')
            ul.list-group.list-group-flush
              each chat in chats
                if chat.userIds.length == 2
                  - for(var i = 0;i < 2; i++)
                    if chat.userIds[i].id != user.id
                      li.list-group-item.chat-box(data-conversation-id = chat._id)
                        div
                          figure.avatar
                            img.rounded-circle(src='/dist/images/man_avatar3.jpg')
                        .users-list-body
                          h5= chat.userIds[i].fullName
                          p.latest-message= ((typeof(chat.latestMessage) !== 'undefined') ? ((user.fullName == chat.latestSender) ? ('You: ' + chat.latestMessage) : (chat.latestMessage)) : '')
                          .users-list-action.action-toggle
                            .dropdown
                              a(data-toggle='dropdown' href='#')
                                i.ti-more
                            .dropdown-menu.dropdown-menu-right
                              a.dropdown-item(href='#') Open
                              a.dropdown-item(href='#' data-navigation-target='contact-information') Profile
                              a.dropdown-item(href='#') Add to archive
                              a.dropdown-item(href='#') Delete
                else 
                  li.list-group-item.chat-box(data-conversation-id= chat._id)
                    div
                      figure.avatar
                        img.rounded-circle(src='/dist/images/man_avatar3.jpg')
                    .users-list-body
                      h5= chat.groupName
                      p.latest-message= ((typeof(chat.latestMessage) !== 'undefined') ? ((user.fullName == chat.latestSender) ? ('You: ' + chat.latestMessage) : (chat.latestSender + ': ' + chat.latestMessage)) : '')
                      .users-list-action.action-toggle
                        .dropdown
                          a(data-toggle='dropdown' href='#')
                            i.ti-more
                        .dropdown-menu.dropdown-menu-right
                          a.dropdown-item(href='#') Open
                          a.dropdown-item(href='#' data-navigation-target='contact-information') Profile
                          a.dropdown-item(href='#') Add to archive
                          a.dropdown-item(href='#') Delete
