#requests.sidebar
      header
        span Incoming Friend Requests
        ul.list-inline
          li.list-inline-item.d-lg-none.d-sm-block
            a.btn.btn-light.sidebar-close.friend_requests(href='#')
              i.ti-close
      form(action='')
        input.form-control(type='text' placeholder='Search friends')
      .sidebar-body(tabindex='5' style='overflow: hidden; outline: none;')